@using QuanLyKho.Utility
@model QuanLyKho.Models.BaoCaoXuatNhapTon_DSModel

<div class="table-responsive">
    <table class="table table-striped table-bordered verticle-middle table-hover table-responsive-fix-big">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col" class="text-right">Tồn đầu kỳ</th>
                <th scope="col" class="text-right">Nhập trong kỳ</th>
                <th scope="col" class="text-right">Xuất trong kỳ</th>
                <th scope="col" class="text-right">Tồn cuối kỳ</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = (Model.PageIndex - 1) * Model.PageSize; }
            @if (Model.TBL_BaoCaoXuatNhapTon != null && Model.TBL_BaoCaoXuatNhapTon.Count > 0)
            {
                foreach (var item in Model.TBL_BaoCaoXuatNhapTon)
                {
                    <tr>
                        <td>@(++i)</td>
                        <td>@item.TenSanPham</td>
                        <td class="text-right">@string.Format("{0:n2}", item.TonDauKy)</td>
                        <td class="text-right">@string.Format("{0:n2}", item.NhapTrongKy)</td>
                        <td class="text-right">@string.Format("{0:n2}", item.XuatTrongKy)</td>
                        <td class="text-right">@string.Format("{0:n2}", item.TonCuoiKy)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.GenPaging().PagingHTML(Model.PageIndex, Model.Pagecount, Model.Total)
<input type="hidden" id="pageIndex" name="pageIndex" value="@Model.PageIndex" />
