@using BusinessLogic.Utils;
@model QuanLyKho.Models.DanhMucKhoForm
@{
    string status = ViewBag.Status.ToString();
}

@using (Html.BeginForm("FormDanhMucKho", "QuanLyDanhMucKho", FormMethod.Post, new { enctype = "multipart/form-data", @id = "fDanhMucKho", @class = "form-crmnt" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.TitleModal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ti-close"></i></span>
                </button>
            </div>
            <div class="modal-body m-b-35">
                <div class="form-wizard-right form-main-crmnt">
                    <div class="row">
                        <div class="col-xl-12 col-sm-12">
                            <h4 class="card-title">Thông tin kho</h4>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-label">Mã kho <span class="red-crmnt">(*)</span></label>
                                    @Html.TextBoxFor(x => x.MaKho, new { @class = "form-control input-sm", @id = "MaKho" })
                                    @Html.ValidationMessageFor(x => x.MaKho)
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-label">Tên kho <span class="red-crmnt">(*)</span></label>
                                    @Html.TextBoxFor(x => x.TenKho, new { @class = "form-control input-sm", @id = "TenKho" })
                                    @Html.ValidationMessageFor(x => x.TenKho)
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-label">Địa chỉ</label>
                                    @Html.TextAreaFor(x => x.DiaChi, new { @class = "form-control input-sm", rows = "3" })
                                    @Html.ValidationMessageFor(x => x.DiaChi)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (ViewBag.status != "true")
                {
                    <button type="submit" class="btn btn-main" id="btnSave"><i class="ti-save"></i>Lưu dữ liệu</button>
                }
                <button type="button" class="btn btn-main" data-dismiss="modal"><i class="ti-close"></i>Đóng</button>
                <input type="hidden" id="status" value="@status" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#MaKho").prop('readonly', @ViewBag.isSua);
    });

    $('#fDanhMucKho').submit(function (e) {
        e.preventDefault();
        $("#btnSave").hide();
        $.ajax({
            type: "POST",
            url: "/QuanLyDanhMucKho/FormDanhMucKho",
            data: $('#fDanhMucKho').serialize(),
            dataType: "json",
            success: function (data) {
                if (data.Sucess) {
                    var pageIndex = $("#pageIndex").val();
                    DanhSachDanhMucKho(pageIndex);
                    $("#modalDanhMucKho").modal("hide");
                    if ($("#Id").val() == undefined || $("#Id").val() == "" || $("#Id").val() == '')
                        toastr.success("Thêm mới thành công.", "Thông báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0 })
                    else
                        toastr.success("Cập nhật thành công.", "Thông báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0 })
                }
                else {
                    DisplayErrors(data.Errors);
                    toastr.warning("Vui lòng kiểm tra dữ liệu nhập.", "Cảnh báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0 })
                    $("#btnSave").show();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#btnSave").show();
                toastr.error("Xảy ra lỗi hệ thống. Vui lòng thử lại sau.", "Thông báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0 })
            },
        });
    });

    function DisplayErrors(errors) {
        $(".field-validation-valid").html("");
        for (var i = 0; i < errors.length; i++) {
            if (i === 0) {
                $("#" + errors[i].Key).focus();
            }
            $("span[data-valmsg-for='" + errors[i].Key + "']").text(errors[i].Value[0]);
        }
    }
</script>

